{% extends "base.html" %}

{%block title %}Upload File{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
     
<div class="col-md-offset-3 col-md-6">
    <form method="POST" action="{{ url_for('file_upload')}}" enctype="multipart/form-data" role="form">
        <h2>Import Excel Table to Database</h2>
        {{ form.hidden_tag() }}
        {{ render_field(form.import_type, class="form-radio")}}
        {{ render_field(form.import_file, class="form-control")}}
        <button type="submit" class="btn btn-primary"><i class="fa fa-upload"> Upload</i></button>
    </form>
</div>

{% endblock %}