{% extends "base.html" %}

{% block title %}Add Case{% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
            
<form method="POST" action="{{ url_for('addCase')}}" role="form">

{{ form.hidden_tag() }}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h4>Add New Case</h4>
        {{ render_field(form.name, class='form-control') }}
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        {{ render_field(form.pin_count, class='form-control') }}
    </div>

    <div class="col-md-3">
        {{ render_field(form.pitch, class='form-control') }}
    </div>

</div>


<div class="row">
    <div class="col-md-offset-3 col-md-2">
        {{ render_field(form.length, class='form-control') }}
    </div>

    <div class="col-md-2">
        {{ render_field(form.width, class='form-control') }}
    </div>

    <div class="col-md-2">
        {{ render_field(form.height, class='form-control') }}
    </div>
</div>

<!-- TODO place the button for correct formatiing -->
<button type="submit" class="btn btn-default">Add Case</button>

</form>


{% endblock %}