{% extends "base.html" %}

{% block title %}Part {{package.name}}{% endblock %}

{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="row">
            <h3>{{package.name}}</h3>

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        {% for item in package.alt_names %}
                        <li>{{item.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline" method="POST" action="{{ url_for('package_showById', id=package.id)}}" role="form">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.name, class="inline") }}
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>        
            </div>

            <hr>
            Pin Count:  {{package.pin_count}}
            <hr>

            <h4>used by parts</h4>
            <ul class="list-inline">
                {% for item in package.parts %}
                <li><a class="block" href="{{url_for('part_showById', id=item.id)}}">{{item.orderingCode}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}