{% extends "base.html" %}

{% block title %}Parts{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="col-md-offset-3 col-md-6 item-list">
        <div class="row">  
                <form method="POST" action="{{url_for('part_downloadXls')}}">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download XLS</button>
                </form>               
            </div>
        </div>
        {% for item in parts %}
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url_for('part_showById', id=item.id)}}"><span>{{item.orderingCode}}</span></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}