{% extends "base.html" %}

{% block title %}Parts{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div class="col-md-12 item-list">
        <h1>Part Overview</h1>
        <div class="navbar">
        <ul class="list-inline navbar-nav ">
            <li><a href="{{url_for('part_downloadXls')}}">Download</a></li>
            <li><a href="{{url_for('file_upload')}}">Upload</a></li>
            <li><a href="{{url_for('part_add')}}">Add Part</a></li>
        </ul> 
        </div>  
        <hr>              
    </div>
    {% for item in parts %}
    <div class="col-md-12">
        <a href="{{url_for('part_show', id=item.id)}}">{{item.ordering_code}}</a>
    </div>
    {% endfor %}
{% endblock %}